<p>
    <li>
        <%= post.content %> 
        by
        <small>
            <%= post.user.name %>
        </small>


        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %> ">
                <% for(comment of post.comments){ %>
                    <p>
                        <li>
                            <%= comment.content %>
                            <small>
                                by <%= comment.user.name %> 
                            </small>
                        </li>
                    </p>
                <% } %> 
            </ul>
        </div>
        <form action="/comments/create" id="new-comment-form" method="POST">
            <input type="text" name="content" cols="20" rows="1" placeholder="Add a comment..." required>
            <!-- we need to send the pos id as well 
            to the comments create controller 
            because in comment model post is also referenced
            along with user(which is passed in the req)  -->
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Comment">
        </form>
    </li>
</p>    