<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">

<div id="home-container">

    <section id="feed-posts">
        <h3>Posts</h3>

        <!-- users can post only if they are signed in -->
        <% if (locals.user) { %>
            <form action="/posts/create" method="POST" enctype="multipart/form-data" id="new-post-form">
                <input type="file" name="content" id="content" multiple>
                <input type="submit" value="Post" id="submit-btn">
            </form>
        <% } %>


        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="users-list">
        <h4>All Users</h4>
        <% for(user of all_users){%>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>
</div>


<script type="text/javascript" src="<%= assetPath('js/home_post_comments.js') %>"></script>
<script type="text/javascript" src="<%= assetPath('js/home_posts.js') %>"></script>
<script type="text/javascript" src="<%= assetPath('js/toggle_like.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>